@media (max-width: 600px) {
footer{
     display: none;
}
/*home-section*/
.header-container-3{
    display: none;
}
.home-container p{
    font-size: 30px;
}
.form-container{
    height: 400px;
    align-items: center;
}
.form{
    flex-direction: column;
    width: 70%;
}
/*brand-sec*/
.brand-content, .body-content{
    width: 30%;
}
.brand-content svg, .body-content svg{
    width: 70%;
}
/*collection-sec*/
.collection-header,
.work-header,
.service-header{
    width: 90%;
}
.collection-header ul li{
    display: block;
    margin-top: 10px;
}
.collection-grid,
.service-grid{
    grid-template-columns: auto;
}
/*work section*/
.work-containere{
    flex-direction: column;
    
}
.work-containere,.car-img{
    width: 100%;
    height: auto;

}
.car-img{
    width: 70%;
    height: auto;
    padding-left: 150px;
}
.work-content-empty{
    display: none;
}
.work-content-steps{
    position: relative;
    width: 100%;
}
.comment-button button{
    height: 30px;
    width: 30px;
}
.comment-section-header h1{
    font-size: 20px;
}
.comment-section-content p{
    font-size: 15px;
}
}