*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
#Home{
    margin-bottom: 30px;
}
/*home-section*/
.home-container{
    height: 100vh;
    background-image: url(./image\ -1.png.png);
    background-position: center;
    color: white;
}
.home-container p{
    text-align: center;
    padding: 25px 0px;
    font-size: 45px;
}
.header{
    display: flex;
    padding: 20px 0px;
}
.header-container{
    display: flex;
    justify-content: center;
}
.header-container-1{
    width: 20%;
}
.header-container-2{
    width: 60%;
}
.header-container-3{
    width: 20%;
}
.header-container-3 button{
    background-color: black;
    color: white;
    border: 1px solid gray;
    height: 30px;
    padding: 3px 5px;
    border-radius: 15px;
}
/*second-prt-style*/
.form-container{
    display: flex;
    justify-content: center;
    background-color: rgb(227, 227, 227);
    margin:60px ;
    height: 110px;
}
.form{
    margin-top:-50px ;
    display: flex;
    width: 90vw;
    justify-content: space-around;
   
    align-items: center;
    
    border-radius: 10px;
    box-shadow: 1px 2px 5px rgba(1, 1, 1, 3);
}
.input{
    display: flex;
    flex-direction: column;
    width: 196.8px;
}
.input p{
    font-size: 14px;
    padding: 5px 0px;
}
.input input{
    padding: 8px;
    border:1px solid gray ;
    border-radius: 5px;
}
.input button {
    padding: 10px 20px;
    margin-top: 10px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 20px;
    align-items: center;
}
.input .form-container{
    position: relative;
}
.input .input-container input{
    padding-left: 25px;
}
.input .input-container i{
    margin-left: -15%;
    position: absolute;
    top: 102%;
}
/*section-style*/
#Brand-section, 
#body-type-section, 
#collection-section,
#work-section, 
#service-section,
#comment-section,
#download-section,
.collection-header-container,
.work-header-container,
.service-header-container{
    display: flex;
    justify-content: center;
    padding: 40px 0px;
}
.brand-section-container,
 .body-section-container, 
 .collection-container, 
 .work-section-container,
 .service-section-container,
 .comment-container,
 .download-container{
    width: 90vw;
}
.brand-section-header, .bod-section-header, .comment-section-header{
    display: flex;
    /*justify-content: space-between;*/
}
.brand-section-button, .body-section-button, .comment-button{
    width: 80%;
    display: flex;
    justify-content: end;
}
.body-type-button{
    width: 90%;
}
.brand-section-button a, .body-section-button a{
    text-decoration: none;
    color: black;
}
.brand-container, .body-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.brand-content, .body-content{
    width: 15%;
    height: 100px;
    background-color: #E5E4E2;
    margin: 10px 0px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*collection-part-style & work-part*/
#collection-section{
    background-color: #E5E4E2;
    padding-bottom: 20px;
    margin: unset;
}
.collection-header,
.work-header,
.service-header{
    width: 55%;
    text-align: center;
}
.collection-header p,
.work-header p,
.service-header p{
    padding: 15px 0px;
}
.collection-header ul li{
    display: inline;
    padding: 7px 5px;
}
.collection-header ul li a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 7px 15px;
    border-radius: 30px;
}
.collection-header ul li:first-of-type a{
    background-color: black;
    color: white;
}
.collection-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
}
.collection-items{
    background-color: white;
    margin-bottom: 20px;
    border-radius: 20px;
    margin: 8px 0px;
}
 .img-container, .specs-container, .button-container{
    display: flex;
    justify-content: center;
    margin: 8px 0px;
    border-radius: 20px;
}
.collection-items img{
    width: 95%;
    height: auto;
}
/*other-in-my-bazzard*/
.details-container{
    margin: 8px;
}
.details-container h2{
    margin: 5px 0px;
}
.details-container h2 sub{
    font-weight: 100;
    color: gray;
}
.specs-container, .button{
    margin: 10px 0px;
    padding-left: unset;
}
.specs-contente{
    width: 95%;
    height: 80px;
    background-color: #E5E4E2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}
.button{
    width: 95%;
}
.button button{
    width: 100%;
    padding: 10px 0px;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 20px;
}
.collection-items-2{
    border: 2px solid black;
}
.collection-items-2 button{
    background-color: black;
    color: white;
}
.see-all-button{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.see-all-button button{
    padding: 15px 25px;
    background: black;
    color: white;
    border: none;
    border-radius: 30px;
}
.work-header h1{
    font-family: sans-serif;
}
.work-containere{
    display: flex;
    position: relative;
}
.work-containere .work-content-empty{
    width: 30%;
}
.work-content-steps{
    position: absolute;
    width: 45%;
}
.steps-container{
    display: flex;
    background-color: white;
    border: solid .5px rgb(237, 237, 237);
    border-radius: 5PX;
    padding: 20px 5px;
    margin: 30px 3px;
    justify-content: center;
}
.step-icon-container{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.steps-contente h3{
    padding-bottom: 10px;
    padding-left: 4px;
}
.step-icon{
    background-color: rgb(237, 237, 237);
    padding: 20px 10px;
    border-radius: 10px;
}
.steps-contente h3 {
    padding-bottom: 10px;
    font-family: sans-serif;
}
.steps-contente p{
    text-align: justify;
    padding-right: 45px;
    padding-left: 5px;
}
.work-containere .car-img{
    width: 70%;
    background-color: #E5E4E2;
    right: 0;
    border-radius: 5px;
    display: flex;
    justify-content: end;
    height: 435px;
}
/*service-part-style*/
#service-section{
    background-color: black;
    color: white;
    padding: 40px 0px;
}
.service-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
}
.service-items .service-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-icon-container .service-icon{
    background-color: white;
    padding: 15px;
    border-radius: 50%;
    padding-bottom: 10px;
}
.service-items .icon-contents{
    padding-top: 15px;
    text-align: center;
}
.icon-contents p{
    padding-top: 15px;
    padding-bottom: 10px;
}
.comment-button{
    width: 75% !important;
}
.comment-button button{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    margin: 5px 10px;
    cursor: pointer;
}

.comment-button .comment-button-1{
    background-color: white;
    color: gray;
    border: 1px solid gray;
}
.comment-button .comment-button-2{
    background-color: black;
    color: white;
    border: 1px solid black;
}
.comment-section-content{
    width: 90%;
    margin: 30px 0px;
}
.comment-section-content p{
    font-size: 30;
    font-family: Arial, Helvetica, sans-serif;
}
.comment-owner-container{
    display: flex;
    margin: 40px 0px;
}
.owner-name-container{
    padding-left: 20px;
    margin-top: 20px;
}
.owner-name-container h3{
    padding: 5px 0px;
}
#download-section{
    background-color: black;
    color: white;
}
.download-container{
    display: flex;
}
.download-container .download-contents{
    width: 45%;
    padding-left: 80px;
}
.download-container .download-description h3{
    padding: 0px 0px;
}
.download-container .download-description p{
    font-size: 15px;
    font-weight: 100;
}
.download-container .download-buttons-container{
    display: flex;
    gap: 20px;
    text-align: center;
}
.download-icon-button{
    padding: 10px 10px 10px 10px;
}
.download-button{
    background-color: white;
    display: flex;
    border-radius: 30px;
}
.download-text-button{
    color: black;
}
.download-text-button p {
    padding: 10px 10px 0px 10px;
    text-transform: uppercase;
    font-size: 10px;
}
.download-text-button h3 {
    font-family: Arial, Helvetica, sans-serif;
}
